In [1]:
import numpy as np
import pandas as pd
import os
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python')
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [2]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [3]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'count'}, inplace=True)

In [4]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [5]:
print(ratings['movie_id'].nunique())
print(ratings['user_id'].nunique())
print

3628
6039

In [6]:
test = ratings.groupby('movie_id')['count'].mean()
# pd.DataFrame(test)

In [7]:
test = test.sort_values(ascending=False).head(30)
# pd.DataFrame(test)

In [8]:
ratings[ratings['user_id']==65536]

Empty DataFrame
Columns: [user_id, movie_id, count, timestamp]
Index: []

In [9]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
tt=list(movies['movie_id'][:5])
my_favorite = list(tt)
tst=[956715518]*5

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': [65536]*5, 
                            'movie_id': my_favorite, 
                            'count':[5]*5,
                           'timestamp':tst})

if not ratings.isin({'user_id':[65536]})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    ratings = ratings.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

ratings.tail(10)       # 잘 추가되었는지 확인해 봅시다.

         user_id  movie_id  count  timestamp
1000203     6040      1090      3  956715518
1000205     6040      1094      5  956704887
1000206     6040       562      5  956704746
1000207     6040      1096      4  956715648
1000208     6040      1097      4  956715569
0          65536         1      5  956715518
1          65536         2      5  956715518
2          65536         3      5  956715518
3          65536         4      5  956715518
4          65536         5      5  956715518

In [10]:
ratings

    user_id  movie_id  count  timestamp
0         1      1193      5  978300760
1         1       661      3  978302109
2         1       914      3  978301968
3         1      3408      4  978300275
4         1      2355      5  978824291
..      ...       ...    ...        ...
0     65536         1      5  956715518
1     65536         2      5  956715518
2     65536         3      5  956715518
3     65536         4      5  956715518
4     65536         5      5  956715518

[836483 rows x 4 columns]

In [11]:
movies

,movie_id,title,genre
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [12]:
(ratings['user_id']==65536).any()

True

In [13]:
ratings = pd.merge(movies,ratings,on=("movie_id") )

In [14]:
ratings

,movie_id,title,genre,user_id,count,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474
...,...,...,...,...,...,...
836478,3952,"Contender, The (2000)",Drama|Thriller,5682,3,1029457829
836479,3952,"Contender, The (2000)",Drama|Thriller,5812,4,992072099
836480,3952,"Contender, The (2000)",Drama|Thriller,5831,3,986223125
836481,3952,"Contender, The (2000)",Drama|Thriller,5837,4,1011902656
836482,3952,"Contender, The (2000)",Drama|Thriller,5998,4,1001781044

In [15]:
(ratings['user_id']==65536).any()

True

In [16]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = ratings['user_id'].unique()
movie_unique = ratings['title'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [17]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = ratings['title'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(ratings):
    print('title column indexing OK!!')
    ratings['title'] = temp_artist_data
else:
    print('title column indexing Fail!!')

ratings

user_id column indexing OK!!
title column indexing OK!!

,movie_id,title,genre,user_id,count,timestamp
0,1,0,Animation|Children's|Comedy,0,5,978824268
1,1,0,Animation|Children's|Comedy,1,4,978237008
2,1,0,Animation|Children's|Comedy,2,4,978233496
3,1,0,Animation|Children's|Comedy,3,5,978225952
4,1,0,Animation|Children's|Comedy,4,5,978226474
...,...,...,...,...,...,...
836478,3952,3627,Drama|Thriller,2697,3,1029457829
836479,3952,3627,Drama|Thriller,2162,4,992072099
836480,3952,3627,Drama|Thriller,1931,3,986223125
836481,3952,3627,Drama|Thriller,2163,4,1011902656
836482,3952,3627,Drama|Thriller,3135,4,1001781044

In [18]:
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_title = ratings['title'].nunique()
num_count = ratings['count'].count()

In [19]:
print(num_user)
print(num_title)
print(num_count)

6040
3628
836483

In [20]:
csr_data = csr_matrix((ratings['count'], (ratings.user_id, ratings.title)), shape= (num_user, num_title))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [21]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [22]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [23]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.longlong'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [24]:
# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [29]:
mm,toy = user_to_idx[65536], artist_to_idx['Toy Story (1995)']
mmv,toyv = als_model.user_factors[mm], als_model.item_factors[toy]
print('슝=3')

슝=3

In [30]:
mmv

array([ 0.06557009, -0.3258298 ,  0.0797292 ,  0.0729195 ,  0.07665838,
       -0.4199792 ,  0.11106373, -0.74931145, -0.25387025, -0.1816419 ,
       -0.34487018, -0.10122046, -0.08917487, -0.7100166 ,  0.35962072,
        0.6351296 , -0.06387971,  0.43024603, -0.57849914,  0.50317377,
       -0.29207942, -0.14592221, -0.30406183, -0.17278883,  0.63399506,
        0.37786606, -0.255643  ,  0.01828765,  0.21228684, -0.1964944 ,
       -0.780006  , -0.38331923, -0.07443673,  0.4432734 , -0.63133264,
       -0.86051863, -0.1166364 ,  0.4633674 , -0.05367651, -0.24485083,
        0.5897749 , -0.12015738, -0.03233571,  0.06332801,  0.37423554,
        1.0522575 ,  0.32559133,  0.08116405, -0.09516724, -0.4941553 ,
        0.17543657,  0.5655616 , -0.3781083 ,  0.20899348, -0.026773  ,
        0.33479142,  0.1983008 ,  1.1847622 , -0.07698786,  0.17997184,
        0.07361243, -0.14476314, -0.29043034,  0.24787037,  0.6730909 ,
        0.49362874, -0.0954075 ,  0.6079056 , -0.22879125, -0.09495162,
        0.02733206,  0.17437491,  0.4534878 , -0.2859184 ,  0.05730583,
       -0.12442854, -0.43287802, -0.57670945, -0.337285  , -0.20100534,
       -0.80089784,  0.3197212 , -0.17773868, -0.05475956,  0.06606288,
       -0.28688556, -0.46591404,  0.15462068, -0.38053545,  0.15449944,
        0.44081992,  0.43458846, -0.12665322,  0.8859949 , -0.55453277,
        0.57881826,  0.9495969 ,  0.30695924, -0.19343023,  0.1142493 ],
      dtype=float32)

In [31]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(mmv, toyv)

0.45364496

In [32]:
juman = artist_to_idx['Jumanji (1995)']
jumanv = als_model.item_factors[juman]
np.dot(mmv, jumanv)

0.28389627

In [33]:
favorite_artist = 'Jumanji (1995)'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(1, 0.1542452),
 (58, 0.12590557),
 (3187, 0.12365071),
 (622, 0.1113558),
 (638, 0.1042343),
 (1942, 0.10419604),
 (1530, 0.10392884),
 (304, 0.1029499),
 (1632, 0.10267955),
 (1702, 0.09795769),
 (1941, 0.09342427),
 (922, 0.09087619),
 (1749, 0.08966206),
 (353, 0.08879598),
 (539, 0.0886894)]

In [34]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['Jumanji (1995)',
 'Indian in the Cupboard, The (1995)',
 'Hook (1991)',
 'Dragonheart (1996)',
 'Space Jam (1996)',
 'NeverEnding Story II: The Next Chapter, The (1990)',
 'Flubber (1997)',
 'Santa Clause, The (1994)',
 'Borrowers, The (1997)',
 'Small Soldiers (1998)',
 'NeverEnding Story, The (1984)',
 'Escape to Witch Mountain (1975)',
 'Labyrinth (1986)',
 'Mask, The (1994)',
 'Pagemaster, The (1994)']

In [35]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [39]:
get_similar_artist('Toy Story (1995)')

['Toy Story (1995)',
 'Toy Story 2 (1999)',
 'Babe (1995)',
 "Bug's Life, A (1998)",
 'Aladdin (1992)',
 'Groundhog Day (1993)',
 'Lion King, The (1994)',
 'Pleasantville (1998)',
 'Beauty and the Beast (1991)',
 'Shakespeare in Love (1998)']

In [40]:
user = user_to_idx[65536]
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(2845, 0.458551),
 (33, 0.32277828),
 (2114, 0.29456794),
 (304, 0.26574856),
 (3151, 0.23271601),
 (687, 0.20807956),
 (730, 0.20358238),
 (353, 0.20004179),
 (3187, 0.19951043),
 (566, 0.19834772),
 (58, 0.18421659),
 (568, 0.1833196),
 (1409, 0.17000505),
 (638, 0.16680269),
 (2155, 0.16423807),
 (1677, 0.16026835),
 (350, 0.15596099),
 (220, 0.14820413),
 (2377, 0.13833776),
 (1279, 0.13693956)]

In [41]:
[idx_to_artist[i[0]] for i in artist_recommended]

['Toy Story 2 (1999)',
 'Babe (1995)',
 "Bug's Life, A (1998)",
 'Santa Clause, The (1994)',
 'Grumpy Old Men (1993)',
 'Twister (1996)',
 'Nutty Professor, The (1996)',
 'Mask, The (1994)',
 'Hook (1991)',
 'Home Alone (1990)',
 'Indian in the Cupboard, The (1995)',
 'Aladdin (1992)',
 'Hercules (1997)',
 'Space Jam (1996)',
 'Shakespeare in Love (1998)',
 'Six Days Seven Nights (1998)',
 'Lion King, The (1994)',
 'Dumb & Dumber (1994)',
 'Star Wars: Episode I - The Phantom Menace (1999)',
 'Michael (1996)']

In [43]:
mask = artist_to_idx['Mask, The (1994)']
explain = als_model.explain(user, csr_data, itemid=mask)

In [44]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('Jumanji (1995)', 0.13981393709316867),
 ('Toy Story (1995)', 0.08231109005103757),
 ('Father of the Bride Part II (1995)', 0.00040293826528375095),
 ('Waiting to Exhale (1995)', -0.0046188687748399005),
 ('Grumpier Old Men (1995)', -0.020628761086416078)]